@charset 'utf-8';

html,
body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

img
{
	border: none;
	margin: 0;
	padding: 0;
}

a
{
	outline: none;
	cursor: pointer;
}

#gallery
{
	height: 494px;
	position: relative;
	overflow: hidden;
}

#gallery img
{
	display: inline;
	margin: 0px 15px;
}

#rail
{
	position: absolute;
}
